:root {
    --orange: #f37335;
}
.homeFront-h1 {
    font-size: 64px;
    font-weight: 700;
    padding-right: 110px;
}
.banner-image-container {
    border-radius: 100px 150px 25px;
    overflow: hidden;
}
.banner-image-container img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}
.border-orange {
    border-color: var(--orange) !important;
}
.text-orange {
    color: var(--orange) !important;
}
